#contenedorJuego{
    margin-top: 5%;
   margin-left: 5%;
    display:flex;
    justify-content: center;
    flex-direction: row;
}

#atacar{
    background-color: rgb(235, 179, 9);
    border: 2px;
    border-color: brown;
    width: 15%;
}
input{
    width: 20%;
}

form{
    position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;   
  align-items: center;      
  justify-content: center;  
  text-align: center;
}
#vaso{
background-image: url("./../../imagenes/vaso.png");
background-repeat: no-repeat;
height: 160px;
background-size: contain;
width: 140px;
background-position: center;
position: relative;
}
#vaso p{
    bottom: 20px;
    width: 100%;
    position: absolute;
    text-align: center;
}
#pergamino{
    position: relative;
    background-image: url("./../../imagenes/pergamino.png");
    background-repeat: no-repeat;
    height:500px;
    width: 600px;
    background-size: contain;
    background-position: center;
}
#pergamino #lugar{
    top: 100px;
    left: 160px;
    width: 100%;
    position: absolute;
    text-align: center;
}
#scroll2{
    height: 34vh;
    border: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 40%;
    padding: 0;
    margin: 0;
}
#ficha{
   top: 11%;
    width: 100%;
    position: absolute;
    text-align: center;
}
#ficha{
    display:flex;
    justify-content: center;
    flex-direction:column;
}
form{
    left: -2%;
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;   
  align-items: center;      
  justify-content: center;  
  text-align: center;
}
.overlay {
  position: fixed;
  top:0; left:0;
  width:100%; height:100%;
  background:black;
  color:white;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:2em;
  z-index:999;
}